* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    background: url(../img/817.jpg);
    padding-left: 20px;
    padding-right: 20px;
    /* background-size: cover; */
    
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    text-align: center;
}
h1 {
    font-family: 'Shantell Sans', sans-serif;
    margin-top: 50px;

}
main {
    flex-grow: 1;
    border: #161429 5px solid;
    padding:  50px;
    border-radius: 30px;
    background-color: #bdbec0;
}
.logo-img {
    width: 700px;
}
@media (max-width:750px) {
    .logo-img {
        width: 90%;
    }
}
/* h1 {
    position: absolute;
    top: 70px;
    left: calc(50% - 135px);
    transform: rotateZ(-15deg); 
    color:#b41d00;
    font-size: 48px;
    -webkit-text-stroke: 1px #FFFFFF; 
    text-stroke: 1px #FFFFFF; 
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
} */


ul {
    list-style: none;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  #bdbec0;
    border: #161429 5px solid;
    padding:  10px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.main-menu li {
    flex-shrink: 0;
    margin: 5px 10px;
} 
.main-menu a {
    display: block;
    color: #f25219;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Shantell Sans', sans-serif;
    transition: all 0.3s ease-in-out,
                transform 0.3s ease-in-out;
                
}

.main-menu a:hover,
.main-menu a:focus {
    color: #9b2b02;
    transform: scale(1.1)
}

.text-copy {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    color:#6408f1;
    margin: 20px 20px;
   font-weight: 700;
    -webkit-box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media(max-width:950px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:670px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.list-item {
    width: 100%;
    min-height: 200px;
    border: #161429 5px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: url(../img/item-fon.png) no-repeat #6408f1;
    cursor: pointer;
}
.item-title {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Shantell Sans', sans-serif;
    transition: transform 0.3s ease-in-out;
                
}

.list-item:hover .item-title,
.list-item:focus .item-title {
    transform: scale(1.1)
}